<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ user.id ? 'Editar ' : 'Novo ' }}usuário</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
</div>
<form #userForm="ngForm" (ngSubmit)="onSave()">
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
            {{ errMsg }}
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="name" class="form-label">Nome <span class="text-danger">*</span></label>
                <input id="name" class="form-control" name="name" [(ngModel)]="user.name" required />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail <span class="text-danger">*</span></label>
                <input id="email" class="form-control" name="email" [(ngModel)]="user.email" required />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="btn-group" *ngIf="!isLoading">
            <button type="button" class="btn btn-danger" (click)="onDelete()" *ngIf="user.id">Excluir</button>
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Salvar</button>
        </div>
    </div>
</form>