<div class="row mb-3">
    <div class="col-8">
        <h1>Tarefas</h1>
    </div>
    <div class="col">
        <button class="btn btn-primary" (click)="onOpenTaskFormModal()">Nova</button>
    </div>
</div>

<div class="spinner-border text-primary" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errMsg">
    {{ errMsg }}
 </div>

<table class="table" *ngIf="!isLoading">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Situação</th>
            <th scope="col">Usuário</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Urgente</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.status.name }}</td>
            <td>{{ task.user.name }}</td>
            <td>{{ task.subject }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.is_urgent ? 'Sim' : 'Não' }}</td>
            <td>
                <button class="btn btn-primary" (click)="onOpenTaskFormModal(task)">Editar</button>
            </td>
        </tr>
    </tbody>
</table>